* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.single-product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 825px;
  margin: 0 auto 20px;
}

.single-product-left {
  display: grid;
  grid-template-columns: 56px 2fr;
  gap: 12px;
}

img {
  width: 100%;
  height: 70px;
}

body {
  background-color: #f1f5f8;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  font-size: 22px;
  color: #333;
  margin-bottom: 6px;
}

.product-price {
  font-size: 20px;
  color: #555;
}

.single-product-right {
  align-self: start;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.single-product-container button {
  padding: 5px 10px;
}

.product-quantity {
  font-size: 24px;
}

/* nav */

nav {
  height: 90px;
  background-color: #212529;
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}

h1 {
  font-size: 36px;
}

.nav-div {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.amount-container {
  position: relative;
}

.amount-container-value {
  position: absolute;
  top: -10px;
  right: -16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #868e96;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-purchaed {
  font-size: 24px;
}

.icon {
  width: 42px;
  height: 42px;
}

.icon-product {
  width: 24px;
  height: 24px;
}

button {
  border: none;
  background-color: #d9dddf;
  cursor: pointer;
}

button:hover {
  background-color: #c1c4c6;
}

.btn {
  border-radius: 50%;
}

.price-remove-div {
  display: flex;
  gap: 10px;
}

.remove-product-btn {
  border-radius: 8px;
}

.empty-cart,
.Loading {
  width: 300px;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 500;
  color: #333;
}

.Loading {
  margin-top: 300px;
}
